div{
    width: 200px;
    height: 200px;
    position: fixed;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: .5rem;
    font-family: 'Roboto', sans-serif;
}

.square1{
    background-color:blueviolet;
    z-index: 2;
}
.square2{
    background-color: lightcoral;
    margin-left: 3rem;
    margin-top: 3rem;
    z-index: 3;
}
.square3{
    background-color:  lightgreen;
    margin-left: 6rem;
    margin-top: 6rem;
    z-index: 1;
}